In [17]:
for index,numero in enumerate(list(range(0,10,2))):
  print(index,numero)

0 0
1 2
2 4
3 6
4 8

In [9]:
lista = [10,1,2,23,34,5,46,7,81,19]
lista.reverse()
print(lista)

[19, 81, 7, 46, 5, 34, 23, 2, 1, 10]

In [4]:
idades = [23,34,54,12,11]
print('A menor idade é:',min(idades),', a maior idade é:',max(idades))

A menor idade é: 11 , a maior idade é: 54

In [6]:
numeros = [1,2,3,4,5,6,7,8,9,0]
pares = [numero for numero in numeros if numero % 2 == 0]
impares = [numero for numero in numeros if numero % 2 != 0]
print(pares)
print(impares)

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]